body{
    overflow: hidden;
    background: url('../images/wallhaven.jpg') no-repeat top/cover;
}
#game{
    overflow: auto;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
#game > *{
    position: absolute;
    transition: .2s;
}

.on{
    background-color: #f609 !important;
}